* {
    background-color: black;
    color: green;
}

header {
    width: 100%;
    padding: 1%;
}

header a {
    float: left;
}

header p {
    float: right;
}

main {
    position: relative;
}

section {
    position: absolute;
    margin-top: 15%;
    left: 25%;
    width: 50%;
}

#homepage {
    text-align: center;
}

#questions button{
    display: block;
}

article {
    padding-top: 2%;
    border-top: 1px solid green;
}

button {
    background-color: green;
    color: black;
    padding: 1%;
    border-radius: 10px;
}

button:hover {
    background-color: black;
    color: green;
    border: 1px solid green;
}

aside {
    display: flex;
}

aside input {
    border: 1px solid green;
    height: 18px;
}

aside button{
    font-size: 12px;
    height: 18px;
    padding: 0%;
    width: 50px;
    border-radius: 5px;
}